<!--/////////////////////////////////////////////login bar template ////////////-->

<script type='text/template' id='login-bar-template'>
  <a href="#"><div class="login-button">
    LOGIN
  </div></a><!--////////close login-button ///-->
  <a href="#"><div class="logout-button">
    LOGOUT
  </div></a><!--////////close logout-button ///-->
</script>

<!--/////////////////////////////////////////////user template ////////////-->

<script type='text/template' id='user-template'>
  <h2>Create User</h2>
  <form id='create-user-form' action='#'>

    <label for='first_name'>First Name: </label><br>
    <input type='text' id='first_name' autofocus='true'>
    <br>
    <label for='last_name'>Last Name: </label><br>
    <input type='text' id='last_name'>
    <br>
    <label for='username'>Username: </label><br>
    <input type='text' id='username'>
    <br>
    <label for='email'>Email: </label><br>
    <input type='email' id='email'>
    <br>
    <label for='avatar'>Avatar: </label><br>
    <input type='text' id='avatar'>
    <br>
    <label for='location'>Location: </label><br>
    <input type='text' id='location'>
    <br>
    <label for='password'>Password: </label><br>
    <input type='password' id='password'>
    <br>
    <label for='password_confirmation'>Confirm password: </label><br>
    <input type='password' id='password_confirmation'>
    <br>
    <button>Create</button>
  </form>
</script>

<!--/////////////////////////////////////////////user list template ////////////-->

<script type='text/template' id='users-list-template'>
  <h2>List of Users</h2>
    <ul>
      {{#each users}}
        <li>{{first_name}}</li>
        <li>{{last_name}}</li>
        <li>{{username}}</li>
        <li>{{email}}</li>
        <li>{{avatar}}</li>
        <li>{{location}}</li>
        <li>{{score}}</li>
      {{/each}}
    </ul>
</script>

<!--/////////////////////////////////////////////create pub template ////////////-->

<script type='text/template' id='create-pub-template'>
  <h2>Create Pub</h2>
  <form id='create-pub-form' action='#'>

    <label for='name'>Pub Name: </label><br>
    <input type='text' id='name' autofocus='true'><br>
    <br>
    <label for='address'>Last Name: </label><br>
    <input type='text' id='last_name'>
    <br>
    <label for='image'>Image: </label><br>
    <input type='text' id='image'>
    <br>
    <label for='email'>Email: </label><br>
    <input type='email' id='email'>
    <br>
    <label for='description'>Description: </label><br>
    <textarea type='textarea' rows="5" id='description'></textarea>
    <br>
    <label for='password'>Password: </label><br>
    <input type='password' id='password'>
    <br>
    <label for='password_confirmation'>Confirm password: </label><br>
    <input type='password' id='password_confirmation'>
    <br>
    <button>Create Pub</button>
  </form>
</script>

<!--/////////////////////////////////////////////user list template ////////////-->

<script type='text/template' id='pubs-list-template'>
  <h2>List of Pubs</h2>
    <ul>
      {{#each pubs}}
        <li>{{name}}</li>
        <li>{{address}}</li>
        <li>{{image}}</li>
        <li>{{email}}</li>
        <li>{{description}}</li>
      {{/each}}
    </ul>
</script>

<!--/////////////////////////////////////////////login template ////////////-->

<script type='text/template' id='login-template'>

<div id="loginpage">
<div id="logintext">
  <h2>PUBCRAWLL</h2>
  <p>
  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Goo</p>
</div><!--//////////// close login text ////// -->

<div id="loginline">
</div><!--//////////// close loginline ////// -->


<div id="login">

  <h3>SIGN IN:</h3>
<form id='login' action='#'>
<label for='username'>Username: </label><br>
    <input type='text' id='username'>
<label for='password'>Password: </label><br>
    <input type='password' id='password'>

<button>Login In</button>
</form>
</div><!-- /////// close login //////-->

</div><!-- /////// close loginpage //////-->
</script>

<!--/////////////////////////////////////////////pub challenge template ////////////-->

<script type='text/template' id='pub-challenge-template'>
  <h2>Create Pub Challenge</h2>
  <form id='create-pub-challenge-form' action='#'>

    <label for='name'>Name: </label><br>
    <input type='text' id='name' autofocus='true'>
    <br>
    <label for='image'>Image: </label><br>
    <input type='text' id='image'>
    <br>
    <label for='description'>Description: </label><br>
    <input type='text' id='description'>
    <br>
    <label for='badge'>Badge: </label><br>
    <input type='email' id='badge'>
    <br>
    <button>Create Pub Challenge</button>
  </form>
</script>

<!--/////////////////////////////////////////////pub challenge list template ////////////-->

<script type='text/template' id='pub-challenge-list-template'>
  <h2>List of Pub Challenges</h2>
    <ul>
      {{#each pub_challenges}}
        <li>{{name}}</li>
        <li>{{image}}</li>
        <li>{{description}}</li>
        <li>{{badge}}</li>
      {{/each}}
    </ul>
</script>