<script type='text/template' id='login-bar-template'>
  <a href="#"><div class="login-button">
    LOGIN
  </div></a><!--////////close login-button ///-->
  <a href="#"><div class="logout-button">
    LOGOUT
  </div></a><!--////////close logout-button ///-->
</script>


<script type='text/template' id='user-template'>
  <h2>Create User</h2>
  <form id='create-user-form' action='#'>

    <label for='first_name'>First Name: </label>
    <input type='text' id='first_name' autofocus='true'>

    <label for='last_name'>Last Name: </label>
    <input type='text' id='last_name'>

    <label for='username'>Username: </label>
    <input type='text' id='username'>

    <label for='email'>Email: </label>
    <input type='email' id='email'>

    <label for='avatar'>Avatar: </label>
    <input type='avatar' id='avatar'>

    <label for='location'>Location: </label>
    <input type='location' id='location'>

    <label for='password'>Password: </label>
    <input type='text' id='password'>

    <label for='password_confirmation'>Confirm password: </label>
    <input type='text' id='password_confirmation'>

    <button>Create</button>
  </form>
</script>

<script type='text/template' id='users-list-template'>
  <h2>List of Users</h2>
    <ul>
      {{#each users}}
        <li>{{first_name}}</li>
        <li>{{last_name}}</li>
        <li>{{username}}</li>
        <li>{{email}}</li>
        <li>{{avatar}}</li>
        <li>{{location}}</li>
        <li>{{password}}</li>
      {{/each}}
    </ul>
</script>

<script type='text/template' id='login-template'>

<div id="loginpage">
<div id="logintext">
  <h2>PUBCRAWLL</h2>
  <p>
  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Goo</p>
</div><!--//////////// close login text ////// -->

<div id="loginline">
</div><!--//////////// close loginline ////// -->


<div id="login">

  <h3>SIGN IN:</h3>
<form id='login' action='#'>
<label for='username'>Username: </label>
    <input type='text' id='username'>
<label for='password'>Password: </label>
    <input type='password' id='password'>

<button>Login In</button>
</form>
</div><!-- /////// close login //////-->

</div><!-- /////// close loginpage //////-->
</script>

<script type='text/template' id='pub-challenge-template'>
  <h2>Create Pub Challenge</h2>
  <form id='create-pub-challenge-form' action='#'>

    <label for='name'>Name: </label>
    <input type='text' id='name' autofocus='true'>

    <label for='image'>Image: </label>
    <input type='text' id='image'>

    <label for='description'>Description: </label>
    <input type='text' id='description'>

    <label for='badge'>Badge: </label>
    <input type='email' id='badge'>

    <button>Create Pub Challenge</button>
  </form>
</script>

<script type='text/template' id='pub-challenge-list-template'>
  <h2>List of Pub Challenges</h2>
    <ul>
      {{#each pub_challenges}}
        <li>{{name}}</li>
        <li>{{image}}</li>
        <li>{{description}}</li>
        <li>{{badge}}</li>
      {{/each}}
    </ul>
</script>