#login h3{
  margin: auto;
  margin-left: 41%;
  font-size: 4em;
}

label{
    font-size: 3em;
    text-transform: uppercase;
    width: 40%;
    margin-left: 40%;
    margin-right: 30%;
    font-weight: bold;
}


input[type=text], input[type=email], input[type=url],input[type=password], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ffcb39;
    font-size: 3em;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
input[name=commit]{
    background-color: #F2CF66;
    border: 0;
    border-bottom: 5px solid #000;
    border-right: 5px solid #000;
    text-shadow: 0px -2px #D1B358;
    position: relative;
    padding: 10px 40px;
    font-size: 3em;
    color: #FFF;
    text-decoration: none;
    /*padding-top: 2%;*/
    font-family: Avenir Next;
    font-style: italic;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-appearance:none;
}

button{
    background-color: #F2CF66;
  border: 0;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
  text-shadow: 0px -2px #D1B358;
  position: relative;
  padding: 10px 40px;
  font-size: 2em;
  color: #FFF;
  text-decoration: none;
  /*padding-top: 2%;*/
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-appearance:none;
  margin-left: 40%;
}
