.pubs-list-view{
  width: 100%;
  font-size: 1em;
}

.pubs-list-view li{
  list-style: none;
}

.pub-name{
  width: 30%;
  font-family: Avenir Next;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
}

.challenge-image{
  width: 40%;
  position: absolute;
}

.pub-address{
  position: relative;
  width: 30%;
  padding-left: 20%;
  font-size: 1em;
}

.pub-description{
  position: relative;
  width: 30%;
  padding-left: 20%;
  font-size: 1em;
}
