<!DOCTYPE html>
<html>
<head>
  <title>Pubcrawl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="main">
    <header>
      <div class="title">
      <span>pubcrawl</span>
    </div><!--///////////////// close title /////-->
      <div id="login-functions">
      </div><!--///////close login-functions/////-->
      <div id="login-bar">
        <div id="login-options">
          <ul>
            <li><a href="#login">Login</a></li>
          </ul>
        </div><!--////////////close login-optins nav /////////-->
      </div><!--/////////////close login-bar///-->
      <nav>
        <ul>

          <li><a href="#">Home</a></li>
          <li><a href="#users/create">Sign up as User</a></li>
          <li><a href="#pubs/create">Sign up as Pub</a></li>
          <li><a href="#users/list">View Users</a></li>
          <li><a href="#pubs/list">View Pubs</a></li>
          <li><a href="#pub_challenges/create">Create Pub Challenge</a></li>
          <li><a href="#pub_challenges/list">View Pub Challenges</a></li>
        </ul>
      </nav>
    </header>
    <div id="content"></div>
      <%= yield %>
    </div>
  </div><!--//////////////close main////////-->
</div><!--//////////////close container////////-->
</body>
</html>
