<!DOCTYPE html>
<html>
<head>
  <title>Pubcrawl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAAiCRdJuc3KbZmfKzLhPkm4DAoG5-7lcA" %>
</head>
<body>
  <div id="container">
    <div id="main">
    <header>
      <div class="title">
        <span>pubcrawl</span>
      </div><!--///////////////// close title /////-->

      <div id="login-functions">
      </div><!--///////close login-functions/////-->

      <div id="user-bar">
      </div><!--/////////////close login-bar///-->

      <div id="site-navigation-bar">
      </div><!--/////////////close site-navigation-bar///-->

    </header>

    <div id="content"></div>
      <%= yield %>
    </div>
  </div><!--//////////////close main////////-->
</div><!--//////////////close container////////-->
</body>
</html>
